@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
    --Orange: hsl(25, 97%, 53%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    font-weight: 400;
    background: var(--VeryDarkBlue);
    color: var(--White);
}
p {
    color: var(--LightGrey);
    margin: 20px 0;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
  }
ul li {
    list-style: none;
}
.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;

}
.card {
    background: var(--DarkBlue);
    padding: 25px;
    border-radius: 2rem;   
}
.card-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-body {
    margin: 40px 0;
}
.star {
    background: var(--DarkBlue);
    box-shadow: 2px 2px 14px 0px rgb(25, 30, 37);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
}
.change-rating {
    background: var(--DarkBlue);
    color: var(--Orange);
    box-shadow: 2px 2px 14px 0px rgb(25, 30, 37);
    padding: 10px 25px;
    border-radius: 2rem;
}
.change-rating span {
    display: inline-block;
    margin: 0 0 0.3rem;
}
.svg-star {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)
}
ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul li {
    background: var(--DarkBlue);
    box-shadow: 2px 2px 14px 0px rgb(25, 30, 37);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative; 
    cursor: pointer;
    transition: all .3s ease-in-out;
}

ul li a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: var(--White);
}


ul li:hover {
    background: var(--MediumGrey);
}
.btn {
    background: var(--Orange);
    color: var(--White);
    padding: 15px;
    display: block;
    margin-top: 20px;
    border-radius: 2rem;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.btn:hover {
    background: var(--White);
    color: var(--Orange);
}
.active {
    background: var(--Orange);
  
}
.attribution {
    text-align: center;
    color: var(--MediumGrey);
}
.link {
    color: var(--MediumGrey);
    font-weight: 600;
}
.link:hover {
    color: var(--Orange);
}